body {
	font-family: Optima;
}

.description {
	color: #444;
	width: 400px;
	margin: 40px auto;
	padding: 20px;
	border-radius: 5px;
	text-align: justify;
	background: #eee;
}

.description .title {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.inputarea {
	margin: 40px auto;
	width: 400px;
}
